@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    
    Layout = "_Layout.cshtml";
}


<header class="umbraco-background">
        <section class="middle container">
            <img src="/images/img-2.svg" class="image-left" alt="middle-img-1">
            <div class="middle-body">
                <h1>@Model.Value("SaleUpTo")</h1>
                <h1>@Model.Value("PercentageSale")</h1>
                <p>@Model.Value("SalesDescription")</p>
                <a class="Umbraco-btn" href="#">
                    SHOP NOW
                </a>
            </div>
            <img src="/images/img-1.svg" class="image-right" alt="middle-img-2">
        </section>
</header>


<partial name="Grid" />