@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

 <form onsubmit="submitForm(event)" novalidate>
                <div>
                    <input id="name" type="text" onkeyup="validate(event)" placeholder="Your Name">
                    <div id="nameErrorMessage" class="errorMessage"></div>
                </div>
                <div>
                    <input id="email" type="email" onkeyup="validate(event)" placeholder="Your Mail">
                    <div id="emailErrorMessage" class="errorMessage"></div>
                </div>

                    <div class="textarea">
                        <textarea id="comment" onkeyup="validate(event)" placeholder="Comments"></textarea>
                        <div id="commentErrorMessage" class="errorMessage"></div>
                    </div>
                <div>
                    <button type="submit" class="btn-theme">
                        <span class="corner-topLeft"></span>
                        <span class="corner-bottomRight"></span>
                        Post Comments
                    </button>
                </div>
            </form>